<img src="https://wc.wallpaperuse.com/wallp/25-251694_s.png" class="screen">

<div style="display:block;position:fixed;z-index:1;top:0;left:0;text-align: center;width:100vw;height: 100vh;" class="remove-scrollbar">
  <br>

  <img style="margin-top: 25vh;margin-bottom: 10vh;width:50vw;max-width: 350px;opacity: 0.8;"
       src="logo_vert.png" *ngIf="!sel_product">
  <br>


  <app-section title="Accompagnement" *ngIf="!sel_product">
    <br><br>
    <div class="section-body">
      Direction de projets<br>
      Stratégie Digitale<br>
      Conduite du changement<br>
      Conception & Développement fullstack<br>
      Blockchain
    </div>
  </app-section>

  <div style="position: fixed;z-index: 100;display: block;background-color: black;" [style.top]="top" [style.left]="left" *ngIf="description!=''">
    <app-fxkeyboard [text]="description" h="200px" w="200px"></app-fxkeyboard>
  </div>

  <app-section title="Réalisations" *ngIf="!sel_product">

    <h3>Python</h3>
    <div *ngFor="let prod of products" class="zone-product" (click)="open_product(prod)">
      <img [src]="prod.icon" class="img-icon" [title]="prod.description"
           (touchstart)="show_popup(prod,$event)" (touchend)="hide_popup()"
           (mouseenter)="show_popup(prod,$event)" (mouseleave)="hide_popup()">
      <br><br>
      {{prod.title}}
    </div>

    <br><br><br><br>
    <h3>Block-chaine / Web3</h3>
    <div *ngFor="let prod of products_web3" class="zone-product" (click)="open_product(prod)">
      <img [src]="prod.icon" class="img-icon" [title]="prod.description"
           (touchstart)="show_popup(prod,$event)" (touchend)="hide_popup()"
           (mouseenter)="show_popup(prod,$event)" (mouseleave)="hide_popup()">
      <br><br>
      {{prod.title}}
    </div>
  </app-section>


  <!--  <app-section title="Réalisations" *ngIf="!sel_product">-->
  <!--    <br><br><br>-->
  <!--   <app-reversebloc *ngFor="let prod of products"-->
  <!--                    style="margin:40px;"-->
  <!--                    (onshowmore)="open_product(prod)"-->
  <!--                    [title]="prod.title" [icon]="prod.icon">-->
  <!--     {{prod.description}}-->
  <!--   </app-reversebloc>-->
  <!-- </app-section>-->

  <!--  <app-product [product]="sel_product"-->
  <!--               (onclose)="sel_product=null"></app-product>-->

  <app-section title="Contacts">
    <br>
    <div *ngFor="let contact of contacts" class="zone-contact">
      <a [href]="contact.link" style="color:white;" target="contact">
        <mat-icon [title]="contact.title"
                  style="font-size: x-large;">
          {{contact.icon}}
        </mat-icon>
      </a>
    </div>
  </app-section>

</div>
